* {
    font-family: sans-serif;
}



.jumbotron {
    padding: 2rem 1rem;
    background-color: #e2edff;
   
}

body {
    background-color: #e2edff;
}




.login_register {
    
    margin-bottom: 80px;
}

#msg {
    margin-top: 98px;
}



.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}



#error {
    color: red;
    border: 1px solid red;
    padding: 10px;
}



footer {
    padding: 30px;
}


